* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav {
    width: 100%;
    background-color: #333;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.nav ul li {
    margin-right: 20px; 
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.container {
    padding: 0.5vw;
    width: 30rem;
    border: 1px solid black;
    text-align: center;
    margin-top: 20px;
}

.outputBox {
    text-align: center;
    padding: 15px;
    margin-top: 15px;
    width: 40rem;
    border: 1px solid black;
}

input {
    width: 2.5rem;
}

select {
    width: 8rem;
}

button {
    margin: 5px;
}

h1 {
    margin-top: 50px;
}

h3 {
    margin: 10px;
}
